- present @flatpage do |p|

  = semantic_form_for [:admin, @flatpage] do |f|
    .language-tabs
      %ul.language-selection
        - for_locales do |locale, lang|
          = p.admin_form_tab(locale, lang)

      - for_locales do |locale, lang|
        %div{id: "lang-#{locale}"}
          = f.inputs lang do
            = p.localized_title_input locale, form: f
            = p.localized_content_input locale, form: f

    = f.buttons

:javascript
  $('.language-tabs').tabs();