- present @flatpage do |p|

  = semantic_form_for [:admin, @flatpage] do |f|
    .language-tabs
      %ul.language-selection
        - for_locales do |locale, lang|
          = p.admin_form_tab(locale, lang)

      = f.semantic_fields_for :translations do |tf|
        %div{:id => "lang-#{tf.object.locale}"}
          = tf.inputs "&nbsp;" do
            = tf.input :title
            = tf.input :content, as: :text
            = tf.input :locale, as: :hidden

    = f.actions

:javascript
  $('.language-tabs').tabs();