<h1>Rezerwacja</h1>

<p><b>Imię, nazwisko</b>: <%= @reservation.full_name %></p>
<p><b>Numer telefonu</b>: <%= @reservation.phone_number %></p>
<p><b>Adres e-mail</b>: <%= @reservation.email %></p>
<p><b>Liczba osób</b>: <%= @reservation.people %></p>
<p><b>Uwagi</b>: <%= @reservation.notes.presence || 'Brak' %></p>