<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title>Prima Rewal</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js' %>
    <![endif]-->

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' %>


    <!-- Le fav and touch icons -->
    <%= tag :link, rel: 'shortcut icon',    href: 'images/favicon.ico'  %>
    <%= tag :link, rel: 'apple-touch-icon', href: 'images/apple-touch-icon.png'  %>
    <%= tag :link, rel: 'apple-touch-icon', href: 'images/apple-touch-icon-72x72.png', sizes: '72x72'  %>
    <%= tag :link, rel: 'apple-touch-icon', href: 'images/apple-touch-icon-72x72.png', sizes: '114x114' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header-container">
      <div class="container">
        <%= link_to 'Prima Rewal', main_page_path, class: :brand %>
        <div class="right-side">
          <%= render_cell :language_choose, :display %>
          <%= render_cell :menu, :display %>
        </div>
      </div>
    </div>
    <div class="container main-section">
      <div class="col540">
        <article><%= yield %></article>
      </div>
      <div class="col220">
        <%= render_cell :facebook_like_box, :display %>
        <%= render_widget :reservation_form, :display %>
      </div>
    </div>

    <footer>
      <div class="container">
        <p>Copyright &copy; Prima 2012. All rights reserved.<br/>Created by <%= link_to 'Kangaru.pl'.html_safe, 'http://kangaru.pl/', target: :_blank %><%= image_tag 'layout/kangaru.png' %></p>
        <h2>W Rewalu jest Prima!</h2>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>